<h2>Feedback</h2>
<div class="card">
<div class="center">
    <div class="stars">
        <input type="radio" id="five" name="rate" value="5">
        <label for="five"></label>
        <input type="radio" id="four" name="rate" value="5">
        <label for="four"></label>
        <input type="radio" id="three" name="rate" value="5">
        <label for="three"></label>
        <input type="radio" id="two" name="rate" value="5">
        <label for="two"></label>
        <input type="radio" id="one" name="rate" value="5">
        <label for="one"></label>
        <span class="result"></span>
        
    </div>
</div>
</div>

