<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some Restaurants are veg and non veg will be there.</p>
    <p>Tasty food ,Snacks and coffee will be  available in our resturants.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="..\assets\food.jfif" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Top Dhaba</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>topdhaba@example.com</p>
          <p><a href="https://www.justdial.com/Chennai/Best-Dhaba-Restaurants-in-Gerugambakkam/nct-10158813"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="..\assets\food4.jpg"alt="Mike" style="margin-top: 5%">
        <div class="container">
          <h2>Saravanabhavan</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>saravanabhavan@example.com</p>
          <p><a href="https://saravanabhavan.co"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="..\assets\food.jfif" alt="John"  align="center" style="width:100%">
        <div class="container">
          <h2>Barbeque Nation</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Barbeque@example.com</p>
          <p><a href="https://www.barbequenation.com/"><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>
  </div>