<h2>View Restaurant Details</h2>

      <table class = "table table-striped">
        <tr>
        <td>
        <label> <b> Restaurant Name: </b></label> </td><td>{{Restaurant.restaurantName}}</td>
    </tr>
      <tr>
       <td> <label> <b> Owner Name: </b></label></td><td> {{Restaurant.ownerName}}</td>
    </tr>
    <tr>
    <td><label> <b> Food type: </b></label></td><td> {{Restaurant.foodType}}</td>
   </tr>
    <tr>
      <td><label> <b> Rating: </b></label></td><td> {{Restaurant.rating}}</td>
    </tr>
    <tr>
       <td> <label> <b> Location: </b></label></td><td> {{Restaurant.location}}</td>
       </tr>
  

</table>
