.card{
    
    font-family: 'Times New Roman', Times, serif;
    background-image:linear-gradient(to bottom left,yellow,red,yellow);
    font-size: 16px;
    margin-right:50px ;
    justify-self:center;
    border-radius: 25px;
    padding: 5px;

}