<div class="col-md-6 offset-md-3">
    <h2> Create Restaurant </h2>
    <div class="card">
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <label> Restaurant Name</label>
            <input type="text" class ="form-control" id = "restaurantName"
                [(ngModel)] = "restaurant.restaurantName" name = "restaurantName" placeholder="Enter RestaurantName">
        </div>

        <div class="form-group">
            <label> Owner Name</label>
            <input type="text" class ="form-control" id = "ownerName"
                [(ngModel)] = "restaurant.ownerName" name = "ownerName" placeholder="Enter OwnerName">
        </div>

        <div class="form-group">
            <label> Food Type</label>
            <input type="text" class ="form-control" id = "foodtype"
                [(ngModel)] = "restaurant.foodType" name = "foodType" placeholder="Enter Foodtype">
        </div>
        <div class="form-group">
            <label> Rating</label>
            <input type="text" class ="form-control" id = "rating"
                [(ngModel)] = "restaurant.rating" name = "rating" placeholder="Enter Rating">
        </div>
        <div class="form-group">
            <label> Location</label>
            <input type="text" class ="form-control" id = "location"
                [(ngModel)] = "restaurant.location" name = "location" placeholder="Enter Location">
        </div>
        <button (click)="confirmsave()" class = "btn btn-success" type ="submit">Submit</button>

    </form>
    </div>
</div>